network:
  version: 2
  renderer: networkd
  ethernets:
    all-eth:
      match:
        name: "en*"
      dhcp4: true
      optional: true
    all-eth2:
      match:
        name: "eth*"
      dhcp4: true
      optional: true
